* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.about-section{
    width: 100%;
    height: 650px;
}
.about-info-div{
    width: 80%;
    height: 200px;
}
.about-info{
    color: white;
    font-size: 20px;
    margin-top: 40px;
}
.about-info-box{
    width: 95%;
    height: 340px;
    display: inline-flex;
}
.info-box{
    width: 33.4%;
    height: 340px;
    background: purple;
    border: 3px solid red;
}
.heading1-div{
    width: 100%;
    height: 80px;
    display: inline-flex;
}
.heading1-name-div{
    width: 18%;
    height: 80px;
    display: inline-flex;
}
.heading1-hr-div{
    width: 82%;
    height: 80px;
}
.heading1-name{
    font-size: 50px;
    margin-top: -1px;
    margin-left: 30px;
    color: white;
}
.heading1-hr{
    width: 96%;
    height: 2px;
    background: white;
    border: 1px solid white;
    margin-top: 35px;
    margin-right: 10%;
}
.dot1-div{
    width: 10px;
    height: 10px;
    background: rgb(140, 137, 137);;
    margin-top: 45px;
    margin-left: 8px;
    border-radius: 50%;
}
@media (max-width: 540px) {
    .about-section{
        width: 100%;
        height: 880px;
    }
    .about-info-div{
        width: 90%;
        height: 300px;
    }
    .about-info{
        font-size: 20px;
        text-align: center;
        font-weight: lighter;
    }
    .about-info-box{
        width: 95%;
        height: 340px;
        display: contents;
    }
    .info-box{
        width: 98%;
        height: 150px;
        background: purple;
        border: 3px solid red;
        margin-top: 10px;
    }
}
@media (max-width: 1280px) {
    .heading1-div{
        width: 100%;
        height: 75px;
        display: block;
    }
    .heading1-name-div{
        width: 100%;
        height: 65px;
        display: inline-flex;
    }
    .heading1-hr-div{
        width: 100%;
        height: 10px;
    }
    .heading1-hr{
        width: 96%;
        margin-top: 0px;
        margin-left: 2%;
    }
    .heading1-name{
        margin-left: 20px;
    }
}