*{
    margin: 0;
    padding: 0;
}
.card-contaner{
    width: 48.9%;
    height: auto;
}
.card-img-div{
    width: 100%;
    height: 231px;
    background: rgb(140, 137, 137);
    border-radius: 10px 10px 0 0;
}
.card-img-div img{
    height: 231px;
    object-fit: cover;
    width: 100%;
    transition: transform 0.7s ease 0s;
   padding: 13px;
   border-radius: 25px;
}
.card-description-div{
    width: 100%;
    height: auto;
}
.card-name-div{
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
.card-text{
    color: white;
    font-size: 20px;
    text-align: left;
}
.card-language-and-link-div{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
}
.card-language-div{
    width: 82%;
    height: auto;
    display: flex;
    gap: 10px;
    color: grey;
    font-size: 17px;
    font-weight: bold;
    flex-wrap: wrap;
}
.card-link-div{
    width: 16%;
    height: auto;
    text-align: right;
}
.description-box{
    width: 100%;
    height: auto;
    text-align: left;
    color: white;
    margin-top: 20px;
}