* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.experience-section{
    width: 100%;
    height: auto;
    padding: 30px;
}
.heading3-div{
    width: 100%;
    height: 80px;
    display: inline-flex;
}
.heading3-name-div{
    width: 27%;
    height: 80px;
    display: inline-flex;
}
.heading3-hr-div{
    width: 73%;
    height: 80px;
}
.heading3-name{
    font-size: 50px;
    margin-top: -1px;
    margin-left: 0px;
    color: white;
}
.dot3-div{
    width: 10px;
    height: 10px;
    background: rgb(140, 137, 137);
    margin-top: 45px;
    margin-left: 8px;
    border-radius: 50%;
}
.heading3-hr{
    width: 100%;
    height: 2px;
    background: white;
    border: 1px solid white;
    margin-top: 35px;
}
.experience-info-div{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.company-name-div{
    width: 100%;
    height: 80px;
}
.company-name{
    width: 100%;
    height: 40px;
}
.company-duration{
    width: 100%;
}
.company-name-text{
    color: white;
    font-size: 1.8rem;
    margin-right: 59%;
}
.jonning-year{
    color: white;
    font-size: 16px;
    margin-left: -8%;
}
.work-from-company{
    color: rgb(140, 137, 137);
    font-size: 1.2rem;
    margin-right: 79%;
}
.company-location{
    color: white;
    font-size: 16px;
    margin-left: -8%;
}
.experience-info{
    width: 100%;
    height: auto;
    font-size: 16px;
    color: white;
    text-align: left;
}
.language-skills-names-div{
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    gap: 10px;
}
.language-skills-names-div span {
    background: #383543;
    border-radius: 10px;
    padding: .5rem;
}
@media (max-width: 600px) {
    .experience-section{
        width: 100%;
        padding: 10px;
    }
    .experience-info-div{
        width: 97%;
        margin-top: 30px;
    }
    .experience-info{
        width: 98%;
        height: auto;
        font-size: 16px;
        color: white;
        text-align: left;
    }
}
@media (max-width: 1280px) {
    .heading3-div{
        width: 100%;
        height: 75px;
        display: block;
    }
    .heading3-name-div{
        width: 100%;
        height: 65px;
    }
    .heading3-hr-div{
        width: 100%;
        height: 10px;
        margin-top: -35px;
    }
    .heading3-name{
        margin-left: 0px;
        margin-top: -5px;
    }
    .heading3-hr{
        width: 100%;
        margin-left: 0%;
    }
    .company-name-div{
        height: 180px;
    }
    .company-name{
        width: 98%;
        height: 110px;
        text-align: left;
        display: block;
    }
    .company-duration{
        width: 98%;
        height: 60px;
        text-align: left;
        margin: 0;
    }
    .company-name-text{
        margin: 0;
        font-size: 24px;
    }
    .jonning-year{
       display: block;
       margin: 0;
    }
    .work-from-company{
        margin-right: 0%;
    }
    .company-location{
        margin-left: 0%;
        display: block;
    }

}