* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.home-section{
    width: 100%;
    height: 100vh;
    background-image: url("../img/background-image.png");
    background-size: cover;
}
.mobile-view-nav-bar-div{
    width: 100%;
    height: 10vh;
}
.self-info-div{
    width: 80%;
    height: 40vh;
    margin-top: 15%;
}
.self-name{
    font-size: 100px;
    color: white;
}
.self-qualification-into{
    font-size: 30px;
    color: white;
}
@media (max-width: 600px) {
    .home-section{
        width: 100%;
        height: 100vh;
        background-image: url("../img/background-img-from-mobile-view.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .self-info-div{
        width: 100%;
        height: 300px;
        text-align: center;
        margin-top: 30%;
    }
    .self-name{
        font-size: 80px;
    }
    .self-qualification-into{
        font-size: 25px;
    }
}
