.home-section{
    width: 100%;
    height: 695px;
    background-image: url("../img/background-image.png");
    background-size: cover;
}
.self-name{
    text-align: center;
    font-size: 100px;
    color: white;
    margin-top: 15%;
}
.self-qualification-into{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: -70px!important;
}
.mobile-view-nav-bar{
    display: none;
}
@media (max-width: 300px) {
 .home-section{
    width: 100%;
    height: 100vh;
    background-image: url("../img/background-img-from-mobile-view.png");
    background-size: cover;
    background-repeat: no-repeat;
 }
 .self-name{
    font-size: 60px;
    margin-top: 80px;
 }
 .mobile-view-nav-bar{
    margin-left: 85%;
    display: block;
 }
 .self-qualification-into{
    font-size: 20px;
    margin-top: -20px;
 }   
}