.main-box{
    width: 100%;
    height: 695px;
    display: inline-flex;
}
.nav-bar-section{
    width: 20%;
    height: 695px;
    background: #14131a;
}
.my-portfolio{
    width: 80%;
    height: 100vh;
    overflow-y: auto ;
}
.my-info-section{
    width: 100%;
    background: #14131a;
}