.main-box{
    width: 100%;
    height: 695px;
    display: inline-flex;
}
.nav-bar-section{
    width: 20%;
    height: 695px;
    background: #1c1a1e;
}
.my-portfolio{
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
}
.my-info-section{
    width: 100%;
    background: #1c1a1e;
}
@media (max-width: 450px) {
    .main-box{
        width: 100%;
        height: 100vh;
    }
    .nav-bar-section{
        display: none;
    }
    .my-portfolio{
        width: 100%;
        overflow-x: hidden;
    }
}