* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main-box{
    width: 100%;
    height: 100vh;
    display: inline-flex;
}
.nav-bar-section{
    width: 20%;
    height: 100vh;
    background: #1c1a1e;
}
.my-portfolio{
    width: 80%;
    height: 100vh;
}
.my-info-section{
    width: 100%;
    height: 100vh;
    background: #1c1a1e;
    overflow-x: hidden;
}
@media (max-width: 920px) {
    .main-box{
        width: 100%;
        height: 100vh;
    }
    .nav-bar-section{
        display: none;
    }
    .my-portfolio{
        width: 100%;
    }
}
