* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav-bar-box-web{
    width: 90%;
    height: 90vh;
    background: #282730;
    margin-top: 40px;
    margin-left: 15px;
    border-radius: 10px;
}
.nav-bar-items{
    color: rgb(140, 137, 137);
    list-style: none;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 30px;
}
.nav-bar-text{
    color: rgb(140, 137, 137);
    font-size: 18px;
    margin-left: 15px;
    margin-top: 50px;
}
.nav-bar-social-items{
    color: rgb(140, 137, 137);
    list-style: none;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 30px;
}
.a-hrf{
    text-decoration: none;
}
  
