* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}  
.nav-bar-box-web{
    width: 90%;
    height: 90vh;
    background: #282730;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
}
.nav-bar-items{
    color: rgb(140, 137, 137);
    list-style: none;
    font-size: 17px;
    margin-top: 20px;
}
.nav-bar-text{
    color: rgb(140, 137, 137);
    font-size: 20px;
    margin-top: 50px;
    margin-right: 30px;
    margin-bottom: 10px;
}
.nav-bar-social-items{
    color: rgb(140, 137, 137);
    list-style: none;
    font-size: 17px;
    margin-top: 20px;
}
.a-hrf{
    text-decoration: none;
}
@media only screen and (max-width:920px){
    .nav-bar-items{
        font-size: 20px;
    }
    .nav-bar-text{
        font-size: 23px;
        margin-right: 40px;
    }
    .nav-bar-social-items{
        font-size: 20px;
    }
}
  
