* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.project-section{
    width: 100%;
    height: auto;
    padding: 30px;
}
.my-project-div{
    width: 100%;
    height: auto;
    /* margin-left: 10px; */
    margin-top: 50px;
}
.my-project-div1{
    width: 100%;
    height: auto;
    display: inline-flex;
    gap: 40px;
}
.my-project-div2{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: inline-flex;
    gap: 40px;
}
.my-project-box1{
    width: 48%;
    height: auto;
}
.my-project-box2{
    width: 48%;
  height: auto;
  
}
.my-project-img{
    width: 100%;
    height: 231px;
    background: rgb(140, 137, 137);
    border-radius: 10px 10px 0 0;
}
.my-project-img img{
    height: 231px;
    object-fit: cover;
    width: 100%;
    transition: transform 0.7s ease 0s;
   padding: 13px;
   border-radius: 25px;
}
.my-project-description{
    width: 100%;
    height: auto;
}
.project-name-div{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 10px;
}
.text{
    color: white;
    font-size: 20px;
}
.line-1{
    width: 38.9%;
    height: 2px;
    border: 1px solid white;
    margin-top: 15px;
    margin-left: 10px;
    background: white;
}
.line-2{
    width: 33.1%;
    height: 2px;
    border: 1px solid white;
    margin-top: 15px;
    margin-left: 10px;
    background: white;
}
.line-3{
    width: 38.8%;
    height: 2px;
    border: 1px solid white;
    margin-top: 15px;
    margin-left: 10px;
    background: white;
}
.line-4{
    width: 56%;
    height: 2px;
    border: 1px solid white;
    margin-top: 15px;
    margin-left: 10px;
    background: white;
}
.language-and-link-div{
    width: 100%;
    height: auto;
    display: flex;
}
.language-div{
    width: 82%;
    height: auto;
    display: flex;
    gap: 10px;
    color: grey;
    font-size: 17px;
    font-weight: bold;
    flex-wrap: wrap;
}
.link-div{
    width: 20%;
    height: 40px;
    text-align: right;
}
.description-div{
    width: 100%;
    height: auto;
    text-align: left;
    color: white;
}
.heading2-div{
    width: 100%;
    height: 80px;
    display: inline-flex;
    margin-top: 20px;
}
.heading2-hr-div{
    width: 80%;
    height: 80px;
}
.heading2-name-div{
    width: 20%;
    height: 80px;
    display: inline-flex;
}
.heading2-hr{
    width: 100%;
    height: 2px;
    background: white;
    border: 1px solid white;
    margin-top: 35px;
}
.heading2-name{
    font-size: 50px;
    margin-top: -1px;
    margin-left: 45px;
    color: white;
}
.dot2-div{
    width: 10px;
    height: 10px;
    background: rgb(140, 137, 137);;
    margin-top: 45px;
    margin-left: 8px;
    border-radius: 50%;
}
.view-all-project-btn-div{
    width: 100%;
    height: 100px;
    margin-left: 10px;
}
.view-all-project-btn{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: white;
    margin-top: 50px;
    margin-left: 87%;
    cursor: pointer;
}
.heading2-hr-div-2{
    display: none;
}
.heading2-hr-2{
    display: none;
}
@media (max-width: 540px) {
    .project-section{
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .my-project-div1{
        width: 100%;
        height: auto;
        display: contents;
    }
    .my-project-box1{
        width: 100%;
       height: auto; 
       margin-left: 0px;
    }
    .my-project-box2{
        width: 100%;
        height: auto; 
        margin-left: 0px;
    }
    .my-project-div2{
        width: 100%;
        height: 450px;
        display: contents;
    }
    .my-project-div{
        margin-left: 0px;
        height: auto;
    }
    .my-project-img{
        width: 100%;
        height: 235px;  
    }
    .my-project-img img{
        height: 231px;
        object-fit: cover;
        width: 100%;
       padding: 15px;
       border-radius: 25px;
    }
    .my-project-description{
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .project-name-div{
        height: 50px;
    }
    .line-1{
     display: none;
    }
    .line-2{
      display: none;
    }
    .line-3{
        display: none;
    }
    .line-4{

        display: none;
    }
    .language-and-link-div{
        width: 100%;
        height: auto;
        display: block;
    }
    .language-div{
        width: 100%;
        height: auto;
    }
    .link-div{
        width: 100%;
    }
    .description-div{
        height: 150px; 
    }
}
@media (max-width: 1280px) {
    .heading2-div{
        height: 75px;
        margin-top: 0px;
        display: block;
    }
    .heading2-hr-div-2{
        display: block;
        width: 100%;
        height: 10px;
    }
    .heading2-name-div{
        width: 100%;
        height: 65px;
    }
    .heading2-hr-2{
        display: block;
        width: 100%;
        height: 2px;
        background: white;
        border: 1px solid white;
        margin-left: 0%;
    }
    .heading2-name{
    margin-left: 0px;
    margin-top: -5px;
    }
    .dot2-div{
        margin-top: 40px;
    }
    .heading2-hr-div{
        display: none;
    }
    .heading2-hr{
        display: none;
    }
    .view-all-project-btn-div{
        height: 80px;
    }
    .view-all-project-btn{
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
}