* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.project-section{
    width: 100%;
    height: 1190px;
}
.my-project-div{
    width: 95%;
    height: 925px;
    margin-left: 10px;
    margin-top: 50px;
}
.my-project-div1{
    width: 100%;
    height: 450px;
    display: inline-flex;
}
.my-project-div2{
    width: 100%;
    height: 450px;
    margin-top: 20px;
    display: inline-flex;
}
.my-project-box1{
    width: 49%;
    height: 450px;    
}
.my-project-box2{
    width: 49%;
  height: 450px;
  margin-left: 22px;
}
.my-project-img{
    width: 100%;
    height: 231px;
    background: pink;
    border: 10px solid rgb(140, 137, 137);;
    border-radius: 20px;
}
.my-project-description{
    width: 95%;
    height: 200px;
    background-color: rgb(246, 154, 169);
}
.heading2-div{
    width: 100%;
    height: 80px;
    display: inline-flex;
    margin-top: 20px;
}
.heading2-hr-div{
    width: 80%;
    height: 80px;
}
.heading2-name-div{
    width: 20%;
    height: 80px;
    display: inline-flex;
}
.heading2-hr{
    width: 96%;
    height: 2px;
    background: white;
    border: 1px solid white;
    margin-top: 35px;
    margin-left: 3.3%;
}
.heading2-name{
    font-size: 50px;
    margin-top: -1px;
    margin-left: 23px;
    color: white;
}
.dot2-div{
    width: 10px;
    height: 10px;
    background: rgb(140, 137, 137);;
    margin-top: 45px;
    margin-left: 8px;
    border-radius: 50%;
}
.view-all-project-btn-div{
    width: 100%;
    height: 100px;
}
.view-all-project-btn{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background: white;
    margin-top: 50px;
    margin-left: 81%;
}
.heading2-hr-div-2{
    display: none;
}
.heading2-hr-2{
    display: none;
}
@media (max-width: 768px) {
    .project-section{
        width: 100%;
        height: 1620px;
        padding: 10px;
    }
    .my-project-div1{
        width: 100%;
        height: 450px;
        display: contents;
    }
    .my-project-box1{
        width: 100%;
       height: 350px; 
       margin-left: 0px;
    }
    .my-project-box2{
        width: 100%;
        height: 350px; 
        margin-left: 0px;
    }
    .my-project-div2{
        width: 100%;
        height: 450px;
        display: contents;
    }
    .my-project-div{
        margin-left: 0px;
        height: 1400px;
    }
    .my-project-img{
        width: 100%;
        height: 180px;
    }
    .my-project-description{
        width: 95%;
        height: 150px;
        margin-left: 0px;
    }
    .view-all-project-btn-div{
        height: 90px;
    }
    .view-all-project-btn{
        margin-top: 40px;
        margin-right: 0px;
        margin-left: 0px;
    }
}
@media (max-width: 1280px) {
    .heading2-div{
        height: 75px;
        margin-top: 0px;
        display: block;
    }
    .heading2-hr-div-2{
        display: block;
        width: 100%;
        height: 10px;
    }
    .heading2-name-div{
        width: 100%;
        height: 65px;
    }
    .heading2-hr-2{
        display: block;
        width: 96%;
        height: 2px;
        background: white;
        border: 1px solid white;
        margin-left: 2%;
    }
    .heading2-name{
    margin-left: 20px;
    margin-top: -5px;
    }
    .dot2-div{
        margin-top: 40px;
    }
    .heading2-hr-div{
        display: none;
    }
    .heading2-hr{
        display: none;
    }
}